{
  "openapi": "3.0.1",
  "info": {
    "title": "MewCaptcha",
    "description": "A sample API to solve Funcaptcha",
    "license": {
      "name": "MIT"
    },
    "version": "0.3.0"
  },
  "servers": [
    {
      "url": "https://funcaptcha.leakmynudes.help/api"
    }
  ],
  "security": [],
  "paths": {
    "/get_balance": {
        "get": {
          "description": "Fetches the balance of the user based on the API key",
          "parameters": [
            {
              "name": "api_key",
              "in": "query",
              "description": "Your API key",
              "schema": {
                "type": "string",
                "example": "12345-abcde"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "credits": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Missing API Key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            },
            "403": {
              "description": "Invalid API Key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            },
            "500": {
              "description": "Unknown error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          }
        }
      }
  },
  "components": {
    "schemas": {
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {}
  }
}