{
  "openapi": "3.0.1",
  "info": {
    "title": "MewCaptcha",
    "description": "A sample API to solve Funcaptcha",
    "license": {
      "name": "MIT"
    },
    "version": "0.3.0"
  },
  "servers": [
    {
      "url": "https://funcaptcha.leakmynudes.help/api"
    }
  ],
  "security": [],
  "paths": {
    "/get_balance": {
      "get": {
        "description": "Creates a new plant in the store",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "Your api key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                  "credits": 6.9
              }
            }
          },
          "400": {
            "description": "Missing API Key",
            "content": {
              "application/json": {
                "error": "Missing API key"
              }
            }
          },
          "403": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "error": "Invalid API key"
              }
            }
          },
          "500": {
            "description": "Unkown error",
            "content": {
              "application/json": {
                "error": "An error occurred: ..."
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {}
  }
}